body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(/img/Digimon-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.header-container {
  margin-top: -20px;
}

#header {
  color: blue;
  font-size: 50px;
  font-weight: bolder;
}

#sub-header {
  text-align: center;
  margin-top: -35px;
  font-size: 25px;
  font-weight: 400;
  color: #fff;
}

.input-container {
  margin-top: 10px;
  margin-bottom: -10px;
}

#Digi-name-input {
  border: solid 2px black;
  border-radius: 5px;
  padding: 5px 15px;
  font-size: 15px;
}

#button {
  padding: 6px 15px;
  border: none;
  border-radius: 3px;
  background-color: blue;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}

#button:hover{
    transform: translateY(-1px);
    background-color: darkblue;
}

#Digimon-name {
  text-align: center;
  font-size: 30px;
  font-size: 40px;
  margin-bottom: -15px;
  color: tomato;
}

#digimon-level{
    color: #fff;
    text-align: center;
    font-size: 18px;
}

#Digivice-img {
  width: 300px;
  margin-top: -30px;
}

#Digimon-img {
  display: block;
  position: absolute;
  top: 60.1%;
  right: 46.7%;
  width: 85px;
  border-radius: 6px;
}
